*{
    font-family: "Quicksand", sans-serif;
}

p{
    color: #2F2F2F;
}

.p_loading{
    color: #FFFFFF;
}

.container {
    overflow-x: hidden ;
    overflow-y: hidden;
}

.logo_loader {
    width: 7%;
    margin-bottom: 8%;
}
.title{
    font-size: 70px;
    font-weight: bold;
}

.subtitle{
    font-weight: normal;
    margin-left: 4px;
}

.img_about {

    margin-top: 4%;
    border-radius: 15px;

}
 nav {
     font-weight: bold;
 }

 /*LOADING SCREEN*/
@-webkit-keyframes loading {
    0% {
        -webkit-transform: rotateZ(0);
        transform: rotateZ(0);
    }
    100% {
        -webkit-transform: rotateZ(360deg);
        transform: rotateZ(360deg);
    }
}
@keyframes loading {
    0% {
        -webkit-transform: rotateZ(0);
        transform: rotateZ(0);
    }
    100% {
        -webkit-transform: rotateZ(360deg);
        transform: rotateZ(360deg);
    }
}


.loading {
    overflow: hidden;

}
.loading #loading-msg {
    display: block;
    color: #fefefe;
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #00a5cf;
    top: 0;
    left: 0;
    z-index: 9999 !important;
}

#loading-msg {
    display: none;
}
#loading-msg .msg {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    margin-bottom: 2em;
    font-size: 2.2em;
}
#loading-msg .spin {
    position: relative;
    width: 8rem;
    height: 8rem;
    margin: 0 auto;
}
#loading-msg p {
    margin-bottom: 2em;
}
#loading-msg span {
    position: absolute;
    border-radius: 100%;
    border-width: 2px;
    border-style: solid;
    border-color: #FEFEFE #FEFEFE transparent;
    -webkit-animation: loading 2s infinite linear;
    animation: loading 2s infinite linear;
    left: 0;
    top: 0;
    width: inherit;
    height: inherit;
}

/*SCROLL BAR*/
.scroll-downs {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    padding-top: 35%;
    width :34px;
    height: 55px;
}
.mousey {
    width: 3px;
    padding: 10px 15px;
    height: 35px;
    border: 2px solid #fff;
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
}
.scroller {
    width: 4px;
    height: 14px;
    border-radius: 25%;
    background-color: #fff;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15,.41,.69,.94);
    animation-iteration-count: infinite;
}
@keyframes scroll {
    0% { opacity: 0; }
    10% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(15px); opacity: 0;}
}


#scroll_bar::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

#scroll_bar::-webkit-scrollbar
{
    width: 10px;
    background-color: #F5F5F5;
}

#scroll_bar::-webkit-scrollbar-thumb
{
    background-color: #00a5cf;
    background-image: -webkit-linear-gradient(45deg,
    rgba(255, 255, 255, .2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, .2) 50%,
    rgba(255, 255, 255, .2) 75%,
    transparent 75%,
    transparent)
}


/* RESET RULES & HELPER CLASSES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
:root {
    --lightblue: #f6f9fc;
    --red: #00a5cf;
}

a,
a:hover {
    color: inherit;
}

a:hover {
    text-decoration: none;
}

.bg-lightblue {
    background-color: var(--lightblue);
    width: 100%;
}

.bg-red {
    background: var(--red);
}

.text-red {
    color: var(--red);
    font-weight: bold;
}

.container-fluid-max {
    max-width: 1440px;
}

.cover {
    background: no-repeat center/cover;
}

.p-15 {
    padding: 15px;
}

.logo{
    width: 45%;
    height: auto;
    margin-left: 9px;
}


/* SCROLL ANIMATIONS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.scroll .page-header {
    background: var(--red);
    box-shadow: 3px 3px 10px 5px rgba(0, 0, 0, 0.20);
}

.scroll .hero {
    transform: scale(0.98);
}

/* HEADER
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-header {
    transition: background 0.5s ease-in-out;
}

.page-header .navbar {
    padding: 0.7rem 0;
}

.page-header .navbar-toggler {
    /* the variable is inherited from BS4 built-in variables */
    border-color: var(--white);
}

/* BANNER SECTION
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.hero {
    background-attachment: fixed;
    transition: transform 0.5s ease-in-out;
}

.hero::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(
            rgba(0, 0, 0, 0.5) 0,
            rgba(0, 0, 0, 0.3) 50%,
            rgba(0, 0, 0, 0.1) 100%
    );
}

.hero .container-fluid {
    z-index: 10;
}

.size{
    width: 164px !important;
}

/* POPULAR DESTINATIONS SECTION
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.popular-destinations figure {
    margin-bottom: 30px;
}

.popular-destinations figcaption {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
}

.popular-destinations img {
    filter: grayscale(100%) blur(3px);
    transition: transform 0.5s, filter 0.75s;
}

.popular-destinations a:hover img {
    transform: scale(1.25);
    filter: none;
}

/* PAGE FOOTER
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-footer .footer-links {
    text-align: right;
}


/*PROJECT OUTPUTS*/
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
.credit {
    position: fixed;
    bottom: 15px;
    right: 15px;
    text-align: center;
    padding: 0 15px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 50px -10px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 50px -10px rgba(0, 0, 0, 0.15);
    z-index: 1000;
}

.credit a {
    display: inline-block;
    color: #000;
    -webkit-transition: color 300ms ease;
    -o-transition: color 300ms ease;
    transition: color 300ms ease;
    padding: 15px 10px;
}

.credit a:hover {
    color: blue;
}

.container2 {
    width: 100%;
    height: 100%;
}

#background {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.card-list {
    width: 900px;
    margin: 0.5rem auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
}

.card {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 300px;
    flex: 1 1 300px;
    margin: 70px 20px 20px 20px;
    background: #fff;
    border-radius: 25px;
    max-width: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    padding: 100px 0 0 0;
    -webkit-box-shadow: 0 0 60px -15px rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 60px -15px rgba(0, 0, 0, 0.25);
    -webkit-transition: -webkit-transform 300ms ease;
    transition: -webkit-transform 300ms ease;
    -o-transition: transform 300ms ease;
    transition: transform 300ms ease;
    transition: transform 300ms ease, -webkit-transform 300ms ease;
}

.colorband {
    height: 2px;
    background-image: -o-linear-gradient(left, #00a5cf 0%, #00a5cf 100%);
    background-image: -webkit-gradient(linear, left top, right top, from(#00a5cf), to(#00a5cf));
    background-image: linear-gradient(to right, #00a5cf 0%, #00a5cf 100%);
}

#card-1 .colorband {
    background-image: -o-linear-gradient(left, #00a5cf 0%, #00a5cf 100%);
    background-image: -webkit-gradient(linear, left top, right top, from(#00a5cf), to(#00a5cf));
    background-image: linear-gradient(to right, #00a5cf 0%, #00a5cf 100%);
}

#card-2 .colorband {
    background-image: -o-linear-gradient(left, #00a5cf 0%, #00a5cf 100%);
    background-image: -webkit-gradient(linear, left top, right top, from(#00a5cf), to(#00a5cf));
    background-image: linear-gradient(to right, #00a5cf 0%, #00a5cf 100%);
}

#card-3 .colorband {
    background-image: -o-linear-gradient(left, #00a5cf 0%, #00a5cf 100%);
    background-image: linear-gradient(to right, #00a5cf 0%, #00a5cf 100%);
}

.card h2 {
    margin: 0;
    padding: 1rem;
    text-align: center;
    font-weight: bold;
    color: #00a5cf;
}
.card .title {
    padding: 0 1rem 1rem;
    font-size: 0.75em;
    text-align: center;
}
.card .desc {
    padding: 1rem 2rem;
    font-size: 0.9em;
}

.card .actions {
    -webkit-transition: -webkit-box-shadow 300ms ease;
    transition: -webkit-box-shadow 300ms ease;
    -o-transition: box-shadow 300ms ease;
    transition: box-shadow 300ms ease;
    transition: box-shadow 300ms ease, -webkit-box-shadow 300ms ease;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #fafafa;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.card:hover {
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
}

.card:hover .actions {
    /*   padding: 1rem 2rem; */
    /*   box-shadow: 0 -10px 10px -5px rgba(0, 0, 0, 0.04); */
}

.actions button {
    width: 50%;
    float: left;
    background: transparent;
    border: none;
    padding: 1rem;
    font-size: 1em;
    -webkit-transition: background 300ms ease, -webkit-transform 300ms ease;
    transition: background 300ms ease, -webkit-transform 300ms ease;
    -o-transition: transform 300ms ease, background 300ms ease;
    transition: transform 300ms ease, background 300ms ease;
    transition: transform 300ms ease, background 300ms ease, -webkit-transform 300ms ease;
    outline: none;
    font-family: Lato, sans-serif;
    cursor: pointer;
}

.actions button:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    background-image: -o-linear-gradient(left, #43e97b 0%, #38f9d7 100%);
    background-image: -webkit-gradient(linear, left top, right top, from(#43e97b), to(#38f9d7));
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
    color: #fff;
    border: none;
    z-index: 100;
    border-radius: 25px;
    -webkit-box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.1)
}

.actions button:active {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
}

#card-1 .actions button:hover {
    background-image: -o-linear-gradient(left, #43e97b 0%, #38f9d7 100%);
    background-image: -webkit-gradient(linear, left top, right top, from(#43e97b), to(#38f9d7));
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
}

#card-2 .actions button:hover {
    background-image: -o-linear-gradient(left, #4facfe 0%, #00f2fe 100%);
    background-image: -webkit-gradient(linear, left top, right top, from(#4facfe), to(#00f2fe));
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}

#card-3 .actions button:hover {
    background-image: -o-linear-gradient(315deg, #667eea 0%, #764ba2 100%);
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

.actions button>span {
    display: block;
}

.avatar {
    position: absolute;
    top: -60px;
    left: 50%;
    width: 150px;
    height: 150px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    border-radius: 50%;
    background: #fff;
    -webkit-box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.1);
    -webkit-transition: -webkit-transform 200ms ease;
    transition: -webkit-transform 200ms ease;
    -o-transition: transform 200ms ease;
    transition: transform 200ms ease;
    transition: transform 200ms ease, -webkit-transform 200ms ease;
}

.avatar:hover {
    -webkit-transform: translateX(-50%) scale(1.1);
    -ms-transform: translateX(-50%) scale(1.1);
    transform: translateX(-50%) scale(1.1);
}

.avatar svg {
    width: 100%;
    height: 100%;
    color: #00a5cf;
}


/*PARTNERS*/
.partners {
    justify-content: center;
    align-items: center;
    margin-left: 0 !important;
    margin-right: 0 !important;
}


figure.snip1104 {
    font-family: 'Raleway', Arial, sans-serif;
    position: relative;
    overflow: hidden;
    margin: 10px;
    min-width: 220px;
    max-width: 310px;
    max-height: 220px;
    width: 100%;
    background: #000000;
    color: #ffffff;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

figure.snip1104 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

figure.snip1104 img {
    max-width: 100%;
    position: relative;
    /*opacity: 0.4;*/
}

figure.snip1104 figcaption {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

figure.snip1104 h2 {
    position: absolute;
    left: 40px;
    right: 40px;
    display: inline-block;
    background: #000000;
    -webkit-transform: skew(-10deg) rotate(-10deg) translate(0, -50%);
    transform: skew(-10deg) rotate(-10deg) translate(0, -50%);
    padding: 12px 5px;
    margin: 0;
    top: 50%;
    text-transform: uppercase;
    font-weight: 400;
}

figure.snip1104 h2 span {
    font-weight: 800;
}

figure.snip1104:before {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    content: '';
    background: #ffffff;
    position: absolute;
    /*-webkit-transition: all 0.3s ease-in-out;*/
    /*transition: all 0.3s ease-in-out;*/
    /*-webkit-transform: rotate(110deg) translateY(-50%);*/
    /*transform: rotate(110deg) translateY(-50%);*/
}

figure.snip1104 a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
}

figure.snip1104.blue {
    background: #00a5cf;
}

figure.snip1104.blue h2 {
    background: #00a5cf;
}


/*PARTNERS ANIMATION*/
/*GET THE PARTNER'S IMAGE DISCOVERED*/
figure.snip1104:hover img,
figure.snip1104.hover img {
    opacity: 1;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/*TEXT COMING OUT*/
figure.snip1104:hover h2,
figure.snip1104.hover h2 {
    /*-webkit-transform: skew(-10deg) rotate(-10deg) translate(-150%, -50%);*/
    transform: skew(-10deg) rotate(-10deg) translate(-150%, -50%);
}

/*BLUE ANIMATION*/
figure.snip1104:hover:after,
figure.snip1104.hover:after {
    -webkit-transform: rotate(110deg) translateY(-150%);
    transform: rotate(110deg) translateY(-150%);
}


/*MODALS*/
.modal-trigger{
    text-decoration: none;
    padding:1rem;
    background:#f93434;
    display:inline-block;
    border-radius:3px;
    margin-top:50px;
    color:#fff;
}
.modal{
    display:none;
    background:rgba(0, 0, 0, .8);
    position:fixed;
    left:0;
    top:0;
    height:100%;
    width:100%;
}
.modal:target{
    display:table;
}
.modal__dialog{
    display:table-cell;
    vertical-align:middle;

}

.modal__content{
    background:rgb(255, 255, 255);
    width:60%;
    min-width:300px;
    margin:auto;
    position:relative;
    border-radius: 10px;
    animation: slideUp 0.3s ease-in-out;
    margin-top: 3% !important;
}

.modal__header{
    background: #00a5cf;
    color:rgba(255, 255, 255, 0.8);
    padding:1rem;
    position:relative;
    border-radius: 10px 10px 0px 0;
}
.modal__title{
    font-size: 1.5rem;
    margin:0;
}
.modal__close{
    color:#fff;
    text-decoration: none;
    position:absolute;
    top:0.2rem;
    right:1.7rem;
    font-size: 3rem;
}
.modal__image{
    display:block;
    margin:1rem auto;
}
.modal__text{
    padding-right:2.5rem;
    padding-left: 2.5rem;
    line-height:1.5;
}
.modal__link{
    font-weight: bold;
    color: #00a5cf;
}
.modal__footer{
    padding:1rem;
    border-top:1px solid #ccc;
}

@keyframes slideUp{
    from{
        opacity:0;
        bottom: -200px;
    }
    to{
        opacity:1;
        bottom:0;
    }
}

/*CONTACT*/
.contacts_title-ag {
    margin: 0;
    margin-left: 0px;
    display: inline-block;
    vertical-align: middle;
    font-size: 22px;
    margin-left: 10px;
}

.contacts__link{
    color: #1f4568;
}

.contacts--light {
    color: #8198ae;
}

.contacts__address {
    margin-top: 20px;
    color: #8198ae;
    font-size: 16px;
    line-height: 27px;
    padding-bottom: 12px;
    margin-bottom: 17px;
    position: relative;
}

.contacts__address:after{
    content: '';
    position: absolute;
    width: 20px;
    height: 1px;
    background-color: #8198ae;
    bottom: 0;
    left: 0;
}
.contacts__info {
    color: #8198ae;
    font-size: 16px;
    margin-bottom: 2px;
}
.contacts__info-link {
    color: #3a9fff;
    text-decoration:none;
}

.form-group {
    margin-bottom: 20px;
    display: table;
    width: 100%;
    position:relative;
}

.form__field {
    height: 50px;
    position:relative;
    border: none;
    padding: 10px 12px;
    width: 100%;
    border-radius:6px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance:none;
    -o-appearance: none;
    box-shadow: 0 4px 8px 0px rgba(0,0,0,0.2);
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    z-index: 2;
}

.form__select {
    background-image: url('http://www.austinlawrencepartners.com/wp-content/uploads/arrow-down-gray-hi.png');
    background-repeat: no-repeat;
    background-size: 10px;
    background-position-x: 97%;
    width: 100%;
    padding-right: 30px;
    background-position-y: center;
    background-color:#fff;
    color: #8198ae;
}

.form__field--half{
    width:50%;
    float:left;
}

.form__field--half:first-of-type{
    padding-right:15px;
}


.form__textarea{
    height:200px;
}

.btnUp{
    position: absolute;
    bottom: 35px;
    right: 29px;
    z-index: 3;
}
.pad_adj {
    padding-bottom: 32px;
}

.btnWidth{
    width: 120px;
}

.btn{
    background-color:#00a5cf;
    border-radius: 20px;
    padding: 10px 25px;
    color: #fff;
    box-shadow: 0px 18px 13px -6px rgba(0, 0, 0,0.2);
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
}

.btn:hover{
    box-shadow: 0px 25px 18px -6px rgba(0, 0, 0,0.2);
    background-color: #63b2fc;
    color: #fff;
}


/*FOOTER*/
.teste{
    display: flex;
    align-items: center;
    justify-content: center
}

.site-footer
{
    background-color:#ffffff;
    padding:45px 0 20px;
    font-size:15px;
    line-height:24px;
    color:#737373;
}


/* MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* SMALL SCREENS */
@media screen and (max-width: 768px) {

    .text-red {
        font-size: 1.5rem !important;
        margin-top: 7%;
    }

    #project_outputs .text-red  {
        font-size: 1.5rem !important;
        margin-top: 11%;
    }

    .card-list {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
        margin-top: 8% !important;
        padding-bottom: 0 !important;
        margin-bottom: 0 !important;
    }
    .card-list .card {
        margin: 12% auto 17%;
    }

    .page-footer .footer-child {
        text-align: center;
        margin: auto;
    }
    .py-5{
        padding-top: 0 !important;
    }

    .modal__image {
        width: 50% !important
    }

    .modal__title {
        font-size: 1.1rem;
        padding-right:5%
    }

    .modal__content {
        width: 95%;
        margin-left: 2%;
    }

    .modal__close {
        top: 0.2rem;
        right: 0.9rem;
        font-size: 2.4rem;
    }

    .img_about{
        width: 100% !important;
    }

    .site-footer
    {
        padding-bottom:0
    }

    .site-footer .copyright-text,.site-footer .social-icons
    {
        text-align:center
    }

    .social-icons li.title
    {
        display:block;
        margin-right:0;
        font-weight:600
    }

    .cover {
        background: no-repeat center/cover;
    }
}

/* MEDIUM SCREENS */
@media screen and (max-width: 992px) {
    .modal__title {
        font-size: 1.1rem
    }

    .modal__close {
        top: 0.2rem;
        right: 0.9rem;
        font-size: 2.4rem;
    }

    .page-header {
        background: var(--red);
        box-shadow: 3px 3px 10px 10px rgba(0, 0, 0, 0.25);
    }

    .site-footer [class^=col-]
    {
        margin-top: 0;
        margin-bottom:30px
    }

}

/* LARGE SCREENS */
@media screen and (max-width: 1200px) {

    .logo_loader {
        width: 26%;
        margin-bottom: 24%;
    }
    .modal__title {
        font-size: 1.1rem
    }

    .modal__close {
        top: 0.2rem;
        right: 0.9rem;
        font-size: 2.4rem;
    }

    .scroll-downs {
        display: none;
    }
}

